body {
  margin: 0;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: #40514e;
}

span {
  font-weight: normal;
  font-family: 'Kaushan Script', cursive;
  font-size: 25px;
  color: #66bfbf;
padding-top: 0;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
    line-height: 2;
}

hr{
border: dotted #888888 6px;
border-bottom: none;
width: 4%;
margin: 100px auto;

}

h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
  color: #66bfbf;
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  font-weight: normal;
  color: #66bfbf;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  padding-bottom: 10px;
}

h3 {
  color: #11999e;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  line-height: normal;
}

.top-globe{
  position: relative;
  margin-top: auto;
  width: 25%;
  padding-top: 0;
}
.top-Sun{
position: absolute;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 100px;
}

.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}


.profile{
  width: 30%;
    margin: 100px auto 100px auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 150px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  margin-top: 100px;
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.croupier {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.socializing {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-message{
  width: 30%;
  margin: 40px auto 60px;
}

a{
  color: #11999E;
  font-family: 'Oswald', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #eaf6f6;
}

.copyright{
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.btn {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #FFFFFF !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #000000;
  text-decoration: none;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 25px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 2px solid #3866A3;
  background: #63B8EE;
  background: linear-gradient(top,  #11CDD4,  #11999E);
  background: -ms-linear-gradient(top,  #11CDD4,  #11999E);
  background: -webkit-gradient(linear, left top, left bottom, from(#11CDD4), to(#11999E));
  background: -moz-linear-gradient(top,  #11CDD4,  #11999E);
}
.btn:hover {
  color: #14396A !important;
  background: #468CCF;
  background: linear-gradient(top,  #30E3CB,  #2BC4AD);
  background: -ms-linear-gradient(top,  #30E3CB,  #2BC4AD);
  background: -webkit-gradient(linear, left top, left bottom, from(#30E3CB), to(#2BC4AD));
  background: -moz-linear-gradient(top,  #30E3CB,  #2BC4AD);
}
